html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    font-family: "Heiti SC";
    overflow-x:hidden;

}

img{vertical-align:top}

.loading{
    background:#e13126;
    position:fixed;
    top:0;
    left:0;
    width:9rem;
    height:12.36rem;
    left: 50%;
    margin-left: -4.5rem;
    z-index: 100;
    font-size:20px;
    background-image: url("../images/loading_bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;


}

.loading .loading_icon{

    position:absolute;
    width: 1.38rem;
    height: 1.3rem;
    left: 50%;
    margin-left: -.69rem;
    top:35%;


}

.loading span{

    position:absolute;
    font-size: 15px;
    color: white;
    top: 45%;
    left: 45%;
    text-align: center;
    color: #fdda00;
    font-weight: bold;


}

.btn{

    position: absolute;
    background: url("../images/on.png") no-repeat;
    background-size:100%;
    width:30px;
    height:30px;
    top:2%;
    right:3%;
    z-index: 99;

}


.orientation{

    width: 100%;
    height: 100%;
    background: black;
    display: none;


}


.orientation img{

    position: absolute;
    width: 45%;
    left: 25%;
    top: 6%;

}


.main{

    position: absolute;
    width: 9rem;
    height: 12.36rem;
    display: none;
    left: 50%;
    margin-left: -4.5rem;

}


.page1{

    position: absolute;
    width: 9rem;
    height: 12.36rem;
    left: 50%;
    margin-left: -4.5rem;


}


.lihua{

    position: fixed;
    width: 9rem;
    height: 22.36rem;
    left: 50%;
    margin-left: -4.5rem;


}
.lihua2{

    position: fixed;
    width: 9rem;
    height: 22.36rem;
    left: 50%;
    margin-left: -4.5rem;

}
.lihua3{

    position: fixed;
    width: 9rem;
    height: 4rem;
    left: 50%;
    margin-left: -4.5rem;

}

.bottom_mc{

    position: absolute;
    width: 9rem;
    height: 4rem;
    left: 50%;
    margin-left: -4.5rem;
    bottom: 0;
    z-index: 10;
    opacity: 0;

}


.bottom_mc_01{

    position: absolute;
    width: 1.85rem;
    height: 1.85rem;
    top:.32rem;
    left: .35rem;

    animation: rotate4 1s linear infinite;
    -webkit-animation:rotate4 1s linear infinite;
    -moz-animation:rotate4 1s linear infinite;
    -o-animation:rotate4 1s linear infinite;


}

.bottom_mc_02{

    position: absolute;
    width: 1.23rem;
    height: 1.23rem;
    top:-.06rem;
    left: 7.1rem;
    animation: rotate4 2s linear infinite;
    -webkit-animation:rotate4 2s linear infinite;
    -moz-animation:rotate4 2s linear infinite;
    -o-animation:rotate4 2s linear infinite;


}


.tips_mc{

    position: absolute;
    width: 9rem;
    height: 12.36rem;
    background: rgba(0,0,0,.7);
    z-index: 10;
    left: 50%;
    margin-left: -4.5rem;
    animation: alpha 1s both;
    -webkit-animation:alpha 1s both;
    -moz-animation:alpha 1s both;
    -o-animation:alpha 1s both;
    opacity: 0;
    display: none;


}

.tips_t0{

    position: absolute;
    width:1.02rem;
    height: 1.65rem;
    top: 2.4rem;
    left: 50%;
    margin-left: -.45rem;

    animation: rotate3 1s linear infinite;
    -webkit-animation:rotate3 1s linear infinite;
    -moz-animation:rotate3 1s linear infinite;
    -o-animation:rotate3 1s linear infinite;


}


.tips_t1{

    position: absolute;
    width:3.62rem;
    height: 1.22rem;
    top: 4.5rem;
    left: 50%;
    margin-left: -1.81rem;


}


.tips_t2{

    position: absolute;
    width:.97rem;
    height: .39rem;
    top: 3.8rem;
    left: 50%;
    margin-left: -.48rem;

    animation: rotate2 1s linear infinite;
    -webkit-animation:rotate2 1s linear infinite;
    -moz-animation:rotate2 1s linear infinite;
    -o-animation:rotate2 1s linear infinite;


}

.tips_t3{

    position: absolute;
    width:.47rem;
    height: .16rem;
    top: 3.9rem;
    left: 50%;
    margin-left: -.23rem;
    animation: rotate2 1.5s linear infinite;
    -webkit-animation:rotate2 1.5s linear infinite;
    -moz-animation:rotate2 1.5s linear infinite;
    -o-animation:rotate2 1.5s linear infinite;


}





@keyframes rotate{
    0%{
        transform:scale(0);
        -ms-transform:scale(0);     /* IE 9 */
        -moz-transform:scale(0);     /* Firefox */
        -webkit-transform:scale(0); /* Safari ºÍ Chrome */
        -o-transform:scale(0);
        opacity:1;
    }
    100%{
        transform:scale(1);
        -ms-transform:scale(1);     /* IE 9 */
        -moz-transform:scale(1);     /* Firefox */
        -webkit-transform:scale(1); /* Safari ºÍ Chrome */
        -o-transform:scale(1);
        opacity:0;
    }
}

@keyframes rotate2{
    0%{
        transform:scale(0);
        -ms-transform:scale(0);     /* IE 9 */
        -moz-transform:scale(0);     /* Firefox */
        -webkit-transform:scale(0); /* Safari ºÍ Chrome */
        -o-transform:scale(0);
        opacity:1;
    }
    100%{
        transform:scale(1);
        -ms-transform:scale(1);     /* IE 9 */
        -moz-transform:scale(1);     /* Firefox */
        -webkit-transform:scale(1); /* Safari ºÍ Chrome */
        -o-transform:scale(1);
        opacity:0;
    }
}

@keyframes rotate3{
    0%{
        transform:scale(1) translate(0%, 0%);
        -ms-transform:scale(1) translate(0%, 0%);     /* IE 9 */
        -moz-transform:scale(1) translate(0%, 0%);     /* Firefox */
        -webkit-transform:scale(1) translate(0%, 0%); /* Safari ºÍ Chrome */
        -o-transform:scale(1) translate(0%, 0%);
    }



    50%{


        transform:scale(.8) translate(0%, 15%);
        -ms-transform:scale(.8) translate(0%, 15%);     /* IE 9 */
        -moz-transform:scale(.8) translate(0%, 15%);     /* Firefox */
        -webkit-transform:scale(.8) translate(0%, 15%); /* Safari ºÍ Chrome */
        -o-transform:scale(.8) translate(0%, 15%);




    }



    100%{
        transform:scale(1) translate(0%, 0%);
        -ms-transform:scale(1) translate(0%, 0%);     /* IE 9 */
        -moz-transform:scale(1) translate(0%, 0%);     /* Firefox */
        -webkit-transform:scale(1) translate(0%, 0%); /* Safari ºÍ Chrome */
        -o-transform:scale(1) translate(0%, 0%);

    }
}


@keyframes alpha{

    0%{opacity:0;}

    100%{opacity:1;}
}


@keyframes rotate4{
    0%{
        transform:rotate(0deg);
        -ms-transform:rotate(0deg);     /* IE 9 */
        -moz-transform:rotate(0deg);     /* Firefox */
        -webkit-transform:rotate(0deg); /* Safari ºÍ Chrome */
        -o-transform:rotate(0deg);

    }
    100%{
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);     /* IE 9 */
        -moz-transform:rotate(360deg);     /* Firefox */
        -webkit-transform:rotate(360deg); /* Safari ºÍ Chrome */
        -o-transform:rotate(360deg);

    }
}