html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    overflow: hidden;
    position: absolute;
    background-color: #081c38;
    font-family: "Heiti SC";
}

img{vertical-align:top}

.loading{background:#081c38;position:fixed;top:0;left:0;width:100%;height:100%;z-index: 100;}
.loading .icon{width:1rem;height:1rem;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;font-size:.3rem;text-align:center;line-height:1rem;color:white;}
.loading .icon span{display:block;position:absolute; width:.8rem;height:.8rem;border-radius:50%;box-shadow:0 2px 0 0 #ccc;top:.1rem;left:.1rem;animation:rotate 1s infinite linear;-webkit-animation:rotate 1s infinite linear;}


.orientation{

    width: 100%;
    height: 100%;
    background: black;
    display: none;


}


.orientation img{

    position: absolute;
    width: 45%;
    left: 25%;
    top: 6%;

}


.main{

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

}


.page1{

    position: absolute;
    width: 100%;
    height: 100%;
    display: block;

}

.p1_bg{


    position: absolute;
    width: 100%;

}




.p1_yun{

    position: absolute;
    width: 1.93rem;
    height: 1.93rem;
    top:50%;
    margin-top: -1.16rem;
    left: 50%;
    margin-left: -.96rem;
}

.p1_yun2{

    position: absolute;
    width: 1.59rem;
    height: 1.59rem;
    top:0.15rem;
    left: 0.15rem;
}

.p1_mobile{

    position: absolute;
    width: .5rem;
    height: .8rem;
    top: .6rem;
    left: .7rem;
}

.p1_txt{

    position: absolute;
    width: 1.92rem;
    height: .72rem;
    top:78%;
    left: 50%;
    margin-left: -.96rem;


}


.page2{

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

}

.page3{

    position: absolute;
    /*width: 100%;*/
    /*height: 12.36rem;*/
    display: block;
    /*min-height: 5.68rem;*/
    background-image: url("../images/p3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    width: 100%;
    height: 100%;

    display: none;


}

.page3 .title{

    position: absolute;
    width: 3.81rem;
    height: .75rem;
    left: 50%;
    margin-left: -1.9rem;
    margin-top: .4rem;

}


.page3 .btn1{

    position: absolute;
    width: 2.41rem;
    height: .45rem;
    bottom: 5%;
    left: 10%;

}

.page3 .btn2{

    position: absolute;
    width: 2.41rem;
    height: .45rem;
    bottom: 5%;
    right: 10%;


}



.page4{

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;



}

.bg{

    position: absolute;
    width: 9rem;
    height: 12.36rem;
    left: 50%;
    margin-left: -4.5rem;


}

.black_mc{

    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
}






.form_mc{

    position: relative;
    width: 6.40rem;
    height: 11.36rem;
    display: block;
    margin: 0 auto;

}


.title{

    position: relative;
    width:5.44rem ;
    height: .84rem;
    margin: 0 auto;
    margin-top: .5rem;

}
.title2{

    position: relative;
    width:.66rem ;
    height: .21rem;
    margin: 0 auto;
    margin-top: .2rem;

}



.name{

    width: 4.4rem;
    height: .48rem;
    margin: 0 auto;
    font-size: .28rem;
    color: white;
    margin-top: .40rem;

}

.mobile{

    width: 4.4rem;
    height: .48rem;
    margin: 0 auto;
    font-size: .28rem;
    color: white;
    margin-top: .30rem;

}

.code{

    width: 4.4rem;
    height: .48rem;
    margin: 0 auto;
    font-size: .28rem;
    color: white;
    margin-top: .40rem;


}


input{

    width: 3.1rem;
    height: .48rem;
    font-size: .28rem;
    border: 1px solid #fff;
    background: transparent;
    color: white;
    padding: 0;
    padding-left: .10rem;
    border-radius: 0;

}

.position_title{

    width: 4.29rem;
    height: 1rem;
    margin: 0 auto;
    margin-top: .30rem;


}

.province{

    width: 4.35rem;
    height: .48rem;
    margin: 0 auto;
    font-size: .28rem;
    color: white;
    margin-top: .40rem;

}

.city{

    width: 4.35rem;
    height: .48rem;
    margin: 0 auto;
    font-size: .28rem;
    color: white;
    margin-top: .30rem;

}
.counter{

    width: 4.35rem;
    height: .48rem;
    margin: 0 auto;
    font-size: .28rem;
    color: white;
    margin-top: .30rem;

}


select{

    width: 3.30rem;
    height: .55rem;
    font-size: .28rem;
    border: 1px solid #fff;
    background: transparent;
    color: white;
    padding-left: .10rem;
    border-radius: 0;

}

.txt_code{

    width: 4.35rem;
    height: .48rem;
    margin: 0 auto;
    font-size: .28rem;
    color: white;
    margin-top: .30rem;

}

.privacyPolicy_txt{

    width: 4.35rem;
    height: .32rem;
    margin: 0 auto;
    margin-top: .30rem;

}

.txt{

    width: 3.87rem;
    height: .52rem;
    float: left;
    margin-left: .10rem;

}

.click_mc{

    width: .32rem;
    height: .31rem;
    float: left;
}

.submit{

    position: absolute;
    width: 2.08rem;
    height: .60rem;
    left: 50%;
    margin-left: -1.04rem;
    bottom: 10%;
}

.guize{

    position: relative;
    width: 4.88rem;
    height: 9.24rem;
    margin: 0 auto;
    margin-top: .5rem;
    display: none;

}


.page5{

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

}

.page5 .title{


    position: relative;
    width: 3.56rem;
    height: .56rem;
    margin: 0 auto;
    margin-top: .4rem;

}

.page5 .title2{


    position: relative;
    width: 5.2rem;
    height: .56rem;
    margin: 0 auto;
    margin-top: .4rem;
    display: none;


}

.page5 .button_mc{

    position: absolute;
    width: 4.66rem;
    height: 2.28rem;
    bottom: 18%;
    left: 50%;
    margin-left: -2.33rem;

}

.page5 .qr_mc{

    position: relative;
    width: 1rem;
    height: 1rem;
    margin: 0 auto;
    margin-top: .2rem;

}

.page5 .tips_mc{

    position: relative;
    width: 2.09rem;
    height: .44rem;
    margin: 0 auto;
    margin-top: .1rem;

}